body{
    padding-top:70px;
    padding-bottom:20px;
    margin-right: 0;
}

#pic img:hover{
    transform:scale(1.15) rotate(5deg);
    border:1px solid #333;
    padding:3px;
}
.thumbnail{
    cursor: pointer;/* 光标变手型 */
}
#logo{
    display:inline;
}

/*导航条阴影*/
.navbar{
    box-shadow:0 2px 12px lightgray;
}
/*导航链接悬浮效果*/
.link1{
    position:relative;
    top:0px;
    cursor: pointer;/* 光标变手型 */
    color: #333;
    text-align: center;
    transition: color .5s;/* 动画属性 */
}

.link1::before {
    content: "";
    position: absolute;
    left: 0%;
    bottom: 0px;/* 控制线的位置在底部 */
    width: 100%;/* 线实际宽度 */
    transform: scaleX(0);/* 悬浮前缩小线横向宽度为0 */
    height: 2px;/* 线实际高度 */
    background: #25ABF7;
    z-index: -1;/* z-index 属性设置元素的堆叠顺序。拥有更高堆叠顺序的元素总是会处于堆叠顺序较低的元素的前面。 */
    transition: all .5s;/* 线变化的时间 */
}
/*文章标题悬浮效果*/
.link2{
    position:relative;
    cursor: pointer;/* 光标变手型 */
    transition: color .5s;/* 动画属性 */
    width:auto;
}
.link2::before {
    content: "";
    position: absolute;
    left: 30px;
    top: 30px;/* 控制线的位置在底部 */
    width: 80px;/* 线实际宽度 */
    transform: scaleX(0);/* 悬浮前缩小线横向宽度为0 */
    height: 2px;/* 线实际高度 */
    background: #25ABF7;

    transition: all .5s;/* 线变化的时间 */
}
.link1:hover::before, .link2:hover::before{
    transform: scaleX(1);
}
/*轮播图片*/
.car_pic{
    width:400px;
    height:auto;
    margin:0 auto;
}
#carousel{
    padding:0;
    background-color:white;
}
/*icon title*/
.labs img{
    width:30px;
    height:30px;
}
.aside{
    margin:20px 0 0 0;
}
.my-comment{
    margin:10px 0;
}
.my-headportrait{
    position:relative;
}
.my-headportrait>img{
    float:left;
    width:50px;
    height:50px;
    border-radius:50px;
    cursor:pointer;
}
.textarea-container{
    position:relative;
    margin-left:85px;
    margin-right:80px;
}

textarea{
    font-size:12px;
    display:inline-box;
    box-sizing:border-box;
    background-color:#f4f5f7;
    border:1px solid #e5e9ef;
    overflow:auto;
    border-radius:4px;
    color:#555;
    width:100%!important;
    height:65px;
    transition:0s;
    padding:5px 10px;
    line-height:normal;
}
/*评论提交按钮*/
.comment-submit{
    width:70px;
    height:64px;
    position:absolute;
    right:-80px;
    top:0;
    padding:4px 15px;
    font-size:14px;
    color:#fff;
    border-radius:4px;
    text-align:center;
    vertical-align:center;
    cursor:pointer;
    background-color:#0F99E8;
    border:1px solid #0F99E8;
}

.user-headportrait{
    float:left;
    width:50px;
    height:50px;
    border-radius:50px;
}
.user-comment{
    position:relative;
    margin-left:85px;
    margin-bottom:13px;
    padding:10px 0 0 10px;
    border-top:1px solid #e5e9ef;
    box-sizing:content-box;
}
.last{
    padding-bottom:10px;
    border-bottom:1px solid #e5e9ef;
}
.user-name,.reply-user{	
    line-height:18px;
    margin-bottom:10px;
    display:block;
    word-wrap:break-word;
}

.user-name a,.reply-user-name{
    font-size:12px;
    color:#6d757a;
    font-weight:700;
}

.text{
    line-height:20px;
    padding-bottom:2px 0;
    font-size:14px;
    overflow:hidden;
    word-wrap:break-word;
    word-break:break-word;
}
.user-info{
    color:#99a2aa;
}
.user-info>span{
    margin-right:20px;
}
.like,.hate{
    display:inline-box;
    cursor:pointer;
}

.icon{
    cursor:pointer;
    width: 1.1em;
    height: 1.1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}
.icon:hover,.btn-reply:hover{
    color:#0F99E8;
}
.pagebar{
    margin-left: 0;
    padding: 0 100px;
}
.footer{
    font-size:12px;
    position:relative;
    background-color:#f6f9fa;
    padding:30px;
}
.footer-content{
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    align-items:center;
    font-size:14px;
}

