body{
	padding-top:	50px;
 	padding-bottom:	20px;
}
.jumbotron{
	background: radial-gradient(white,lightgreen); 
}
/*.jumbotron a:hover{
	box-shadow:#333 0px 0px 30px;
}*/
.row img:hover{
	transition: 0.75s;
	transform:rotate(10deg) scale(1.5);
	padding: 3px;
	border: solid 1px #333;
}
